langchain
langchain-community
langchain-core
langgraph
langchain-cohere
langchain-classic
langchain-groq
rank_bm25
pydantic
pyyaml
pypdf
rich
python-multipart
duckduckgo-search
fastapi
uvicorn
faiss-cpu