langchain
langchain-community
langchain-core
langgraph
langchain-cohere
langchain-chroma
chromadb
rank_bm25
pydantic
ragas
unstructured
pyyaml
pypdf
datasets
rich
python-multipart
duckduckgo-search
fastapi
uvicorn
langchain-groq
langchain-huggingface
sentence-transformers